  
  # JOB CREATED BY ANSIBLE
  - job_name: '{{ prometheus_job_name }}'
    scrape_interval: {{ prometheus_scrape_interval }}
    static_configs:
{% for h in groups ['all'] %}
      - targets: ['{{ hostvars[h].ansible_default_ipv4.address }}:{{ web_port }}']
        labels:
          instance: {{ hostvars[h].ansible_hostname }}
{% endfor %}
