[Unit]
Description=Prometheus Node Exporter
Documentation=https://prometheus.io/docs/guides/node-exporter/
After=network-online.target

[Service]
User={{ ansible_user }}
Restart=on-failure

ExecStart={{ install_path }}/node_exporter --web.listen-address=:[{{ web_port }}]

[Install]
WantedBy=multi-user.target
